BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
IndentCaseLabels: false
PointerAlignment: Right
ColumnLimit: '100'
AllowShortIfStatementsOnASingleLine: false
AlignConsecutiveMacros: AcrossEmptyLines
